$flat-ui-colors: (
    'TURQUOISE': #1ABC9C,
    'GREEN SEA': #16A085,
    'EMERALD': #2ECC71,
    'NEPHRITIS': #27AE60,
    'PETER RIVER': #3498DB,
    'BELIZE HOLE': #2980B9,
    'AMETHYST': #9B59B6,
    'WISTERIA': #8E44AD,
    'WET ASPHALT': #34495E,
    'MIDNIGHT BLUE': #2C3E50,
    'SUN FLOWER': #F1C40F,
    'ORANGE': #F39C12,
    'CARROT': #E67E22,
    'PUMPKIN': #D35400,
    'ALIZARIN': #E74C3C,
    'POMEGRANATE': #C0392B,
    'CLOUDS': #ECF0F1,
    'SILVER': #BDC3C7,
    'CONCRETE': #95A5A6,
    'ASBESTOS': #7F8C8D
);

$flat-ui: (
    // setting bootstrap colors
    'primary': map-get($flat-ui-colors, 'MIDNIGHT BLUE'),
    'secondary': map-get($flat-ui-colors, 'AMETHYST'),
    'success': map-get($flat-ui-colors, 'NEPHRITIS'),
    'info': map-get($flat-ui-colors, 'PETER RIVER'),
    'warning': map-get($flat-ui-colors, 'SUN FLOWER'),
    'danger': map-get($flat-ui-colors, 'POMEGRANATE'),
    'light': map-get($flat-ui-colors, 'CLOUDS'),
    'dark': map-get($flat-ui-colors, 'MIDNIGHT BLUE'),
    // generic colors
    'blue': #74b9ff,
    'indigo': #6c5ce7,
    'purple': #a29bfe,
    'pink': #fd79a8,
    'red': #ff7675,
    'orange': #fab1a0,
    'yellow': #ffeaa7,
    'green': #55efc4,
    'teal': #81ecec,
    'cyan': #00cec9,
);

$american-flat: (
    'LIGHT GREENISH BLUE': #55efc4,
    'MINT LEAF': #00b894,
    'FADED POSTER': #81ecec,
    'ROBINS EGG BLUE': #00cec9,
    'GREEN DARNER TAIL': #74b9ff,
    'ELECTRON BLUE': #0984e3,
    'SHY MOMENT': #a29bfe,
    'EXODUS FRUIT': #6c5ce7,
    'SOUR LEMON': #ffeaa7,
    'BRIGHT YARROW': #fdcb6e,
    'FIRST DATE': #fab1a0,
    'ORANGEVILLE': #e17055,
    'PINK GLAMOUR': #ff7675,
    'CHI-GONG': #d63031,
    'PICO-8 PINK': #fd79a8,
    'PRUNUS AVIUM': #e84393,
    'CITY LIGHTS': #dfe6e9,
    'SOOTHING BREEZE': #b2bec3,
    'AMERICAN RIVER': #636e72,
    'DRACULA ORCHID': #2d3436
);

@function flat-ui($key: 'primary') {
    @return map-get($flat-ui, $key);
}
