<div class="container">
    <h4>Let's go ahead and set the initial password for the admin user...</h4>
    <p>Admin username/email is simply "admin"</p>
    <form [formGroup]="setupConfigForm" (ngSubmit)="handleSetup()">

        <div class="mb-3">
            <label class="form-label" for="metaOrgNameInput">Org Name</label>
            <input class="form-control"
                   [formControlName]="'metaOrgName'"
                   id="metaOrgNameInput"
                   type="text" />
            <div class="form-text" id="orgNameHelper">All content in Kazuku belongs to organizations, and while Kazuku is
                capable of hosting many
                organizations, you don't have to use Kazuku to host multiple organizations. There does need to be one "meta"
                organization, however - this will be the name of the
                host organization for this instance of Kazuku. This can simply be the name of your organization or just your
                name.
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="metaOrgCodeInput">Meta Org Code</label>
            <input class="form-control"
                   [formControlName]="'metaOrgCode'"
                   id="metaOrgCodeInput"
                   type="text"
                   disabled
                   readonly />
            <div id="metaOrgCodeHelper" class="form-text">Every organization has an organization code. For simplicity, the meta org always has a hardwired code of "admin".</div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="adminPasswordInput">Admin Password</label>
            <input class="form-control"
                   [formControlName]="'adminPassword'"
                   id="adminPasswordInput"
                   type="text" />
        </div>

        <div class="mb-3">
            <label class="form-label" for="adminPasswordConfirmInput">Admin Password Confirm</label>
            <input class="form-control"
                   [formControlName]="'adminPasswordConfirm'"
                   id="adminPasswordConfirmInput"
                   type="text" />
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>

    </form>
</div>

<!--<form #theForm="ngForm" (ngSubmit)="save(theForm)" nz-form>-->

<!--    <p>Admin username/email is simply "admin".  Let's go ahead and set the initial password for the admin user...</p>-->

<!--    <nz-form-item>-->
<!--        <nz-form-label nzRequired nzFor="adminPassword">Admin Password</nz-form-label>-->
<!--        <nz-form-control>-->
<!--            <input nz-input [(ngModel)]="setupConfig.adminPassword" id="adminPassword" name="adminPassword" type="password" required>-->
<!--        </nz-form-control>-->
<!--    </nz-form-item>-->

<!--    <nz-form-item>-->
<!--        <nz-form-label nzFor="adminPasswordConfirm" nzRequired>Confirm Admin Password</nz-form-label>-->
<!--        <nz-form-control>-->
<!--            <input nz-input [(ngModel)]="setupConfig.adminPasswordConfirm" id="adminPasswordConfirm" name="adminPasswordConfirm" type="password" required>-->
<!--        </nz-form-control>-->
<!--    </nz-form-item>-->

<!--    <div nz-row>-->
<!--        <div nz-col [nzSpan]="14">-->
<!--            <p nz-typography>All content in Kazuku belongs to organizations, and while Kazuku is capable of hosting many-->
<!--                organizations, you don't have to use Kazuku to host multiple organizations. There does need to be one "meta" organization, however - this will be the name of the-->
<!--                host organization for this instance of Kazuku. This can simply be the name of your organization or just your name.</p>-->
<!--        </div>-->
<!--    </div>-->

<!--    <nz-form-item>-->
<!--        <nz-form-label nzFor="metaOrgName" nzRequired>Meta Organization Name</nz-form-label>-->
<!--        <nz-form-control>-->
<!--            <input nz-input [(ngModel)]="setupConfig.metaOrgName" id="metaOrgName"  name="metaOrgName" type="text" required>-->
<!--        </nz-form-control>-->
<!--    </nz-form-item>-->

<!--    <div nz-row>-->
<!--        <div nz-col [nzSpan]="14">-->
<!--            <p nz-typography>Every organization has an organization code. For simplicity, the meta org always has a hardwired code of "admin".</p>-->
<!--        </div>-->
<!--    </div>-->

<!--    <nz-form-item>-->
<!--        <nz-form-label nzFor="metaOrgCode">Meta Organization Code</nz-form-label>-->
<!--        <nz-form-control>-->
<!--            <input nz-input [(ngModel)]="setupConfig.metaOrgCode" id="metaOrgCode" name="metaOrgCode" type="text" disabled>-->
<!--        </nz-form-control>-->
<!--    </nz-form-item>-->

<!--    <nz-form-item nz-row>-->
<!--        <nz-form-control>-->
<!--            <button nz-button nzType="primary" type="submit">Save</button>-->
<!--        </nz-form-control>-->
<!--    </nz-form-item>-->


<!--</form>-->
