<div class="modal-header bg-light">
    <h4 class="modal-title">
        {{fieldTitle}}
        <small class="text-muted">{{fieldType}}</small>
    </h4>
    <div>
        <button type="button" class="btn btn-link btn-sm" (click)="selectTab(0)">Settings</button>
        <button type="button" class="btn btn-link btn-sm" (click)="selectTab(1)">Validations</button>
        <button type="button" class="btn btn-link btn-sm" (click)="selectTab(2)">Appearance</button>
    </div>
</div>
<div class="modal-body">
    <tabset #fieldSettingsTabs>
        <tab id="field_settings">
            <kz-basic-field-settings #basicFieldSettings></kz-basic-field-settings>
        </tab>
        <tab id="field_validations">
            <kz-field-validations></kz-field-validations>
        </tab>
        <tab id="field_other">
            <kz-field-appearance></kz-field-appearance>
        </tab>
    </tabset>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
</div>
