<ng-container *ngIf="(contentModels$ | async)?.length; else noData">
    <div class="list-group list-group-flush">
        <a *ngFor="let model of (contentModels$ | async)" [routerLink]="[model.contentType]" class="list-group-item list-group-item-action">
            <div class="row">
                <div class="col">
                    {{model.name}}
                </div>
                <div class="col">
                    {{model.contentType}}
                </div>
            </div>
        </a>
    </div>
</ng-container>

<ng-template #noData>
    <div class="jumbotron">
        <h1 class="display-4">Hmmm...</h1>
        <p class="lead">No content models currently!</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" [routerLink]="['create']">Create Model</a>
    </div>
</ng-template>
