@import "../themes/color-palettes";

$primary: flat-ui('primary');
$secondary: flat-ui('secondary');
$success: flat-ui('success');
$info: flat-ui('info');
$warning: flat-ui('warning');
$danger: flat-ui('danger');
$light: flat-ui('light');
$dark: flat-ui('dark');

//$body-bg: $dark;
//$body-color: $light;

//$body-bg: $light;
$body-color: $dark;

$font-family-sans-serif:      'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;

$font-size-base:              .875rem; // Assumes the browser default, typically `16px`

$headings-font-family:        'Archivo', 'Montserrat';


// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Copy text color
/// @type Color
//$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
//$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
//$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
//$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
//$dark-grey: rgb(68, 68, 68) !default;





/// Container's maximum width
/// @type Length
//$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
//$breakpoints: (
//  'small': 320px,
//  'medium': 768px,
//  'large': 1024px,
//) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
