<h4 *ngIf="(orgDetails$ | async)?.id">{{(orgDetails$ | async)?.name}}</h4>
<h4 *ngIf="!(orgDetails$ | async)?.id">New Organization</h4>

<form nz-form [formGroup]="organizationForm" [nzLayout]="'horizontal'" (ngSubmit)="save()">

    <nz-form-item>
        <nz-form-label nzRequired>Name</nz-form-label>
        <nz-form-control>
            <input nz-input
                   formControlName="name"
                   id="name"
                   type="text"
                   pattern="[\D]*" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzRequired>Code</nz-form-label>
        <nz-form-control>
            <input nz-input formControlName="code" id="code" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzRequired>Description</nz-form-label>
        <nz-form-control>
            <textarea nz-input formControlName="description" id="description" rows="4"></textarea>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control>
<!--            <button nz-button nzType="primary" [disabled]="!organizationForm.valid && organizationForm.touched">Submit</button>-->
            <button nz-button nzType="primary" [disabled]="true">Submit</button>
            <button nz-button disabled>Reset</button>
            <button nz-button nzType="danger" (click)="cancel()">Cancel</button>
        </nz-form-control>
    </nz-form-item>

</form>



<!--<form #form="ngForm" (submit)="save(form)" novalidate>-->

<!--    <div class="field">-->
<!--        <label>Name</label>-->
<!--        <input type="text"-->
<!--               pattern="[\D]*"-->
<!--               name="name"-->
<!--               [(ngModel)]="organization.name">-->
<!--    </div>-->

<!--    <div class="field">-->
<!--        <label>Code</label>-->
<!--        <input type="text"-->
<!--               name="code"-->
<!--               [(ngModel)]="organization.code">-->
<!--    </div>-->

<!--    <div class="field">-->
<!--        <label>Description</label>-->
<!--        <textarea type="text" rows="4" cols="50"-->
<!--                  name="description"-->
<!--                  [(ngModel)]="organization.description">-->
<!--            </textarea>-->
<!--    </div>-->

<!--    <div class="extra content">-->
<!--        <button type="submit" class="ui positive button" [disabled]="form.invalid"-->
<!--                kzAsyncButton [asyncInProgress]="saving" [asyncType]="'save'" [ngClass]="{'labeled': !saving, 'icon': !saving}">-->
<!--            <i class="checkmark icon"></i> Save-->
<!--        </button>-->
<!--        <button type="button" class="ui negative button" (click)="cancel(form)">Cancel</button>-->
<!--    </div>-->
<!--</form>-->
