<div class="row">
    <div class="col-1 d-flex justify-content-start align-items-center">
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center">
                <fa-icon [icon]="fieldUI.gripIcon"></fa-icon>
            </div>
            <div class="col">
                <div class="border border-secondary text-secondary rounded p-2 d-flex justify-content-center align-items-center" style="width: 40px; height: 40px;">
                    <fa-icon [icon]="fieldUI[field.type].icon"></fa-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2 d-flex justify-content-start align-items-center">
        {{field.description}}
    </div>
    <div class="col d-flex justify-content-start align-items-center">
        {{fieldUI[field.type].label}}
    </div>
    <div class="col"></div>
    <div class="col d-flex justify-content-end">
        <button type="button" class="btn btn-link" (click)="openFieldSettings()">Settings</button>
        <div class="btn-group" bsDropdown placement="bottom left" isAnimated="true">
            <button type="button" class="btn btn-link" dropdownToggle>
                <fa-icon [icon]="fieldUI.actionsIcon"></fa-icon>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem">
                    <a class="dropdown-item">Test</a>
                </li>
            </ul>
        </div>
    </div>
</div>
