<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="navbar-brand">{{(model$ | async)?.name}}</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link">Edit</a>
            </li>
        </ul>
    </div>
</nav>




<!--<nav class="navbar navbar-light bg-light">-->
<!--    <div class="navbar-nav">-->
<!--        <ng-container *ngIf="(model$ | async)?.name as modelName">-->
<!--            <span class="navbar-brand mb-0 h1">{{modelName}}</span>-->
<!--        </ng-container>-->
<!--        <div class="nav-item">-->
<!--            <a class="nav-link">Edit</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <ng-container *ngIf="(model$ | async)?.description as modelDesc">-->
<!--        <span class="navbar-text">-->
<!--            {{modelDesc}}-->
<!--        </span>-->
<!--    </ng-container>-->
<!--</nav>-->
