<kz-model-header [model$]="schema$"></kz-model-header>

<tabset>
    <tab heading="Fields" id="tab1">
        <kz-model-fields [form]="form" [fields]="form.controls.fields['controls']"></kz-model-fields>
    </tab>
    <tab heading="Data">
        <pre>{{(schema$ | async) | json}}</pre>
    </tab>
    <tab heading="Original UX">
        <div class="row">
            <div class="col-10">
                <form [formGroup]="form" (submit)="save(form)" novalidate id="schemaBuilder">
                    <div>
                        <div class="form-group">
                            <label>Display Name</label>
                            <input type="text"
                                   id="name"
                                   formControlName="name"
                                   class="form-control">
                            <ng-container *ngIf="form.get('name').dirty">
                                <div class="input-group-append" id="button-addon4">
                                    <button class="btn btn-outline-primary btn-sm" type="button">
                                        <fa-icon icon="check"></fa-icon>
                                    </button>
                                    <button class="btn btn-outline-danger btn-sm" type="button">
                                        <fa-icon icon="times"></fa-icon>
                                    </button>
                                </div>
                            </ng-container>
                        </div>

                        <div class="form-group">
                            <label>Content Type Name</label>
                            <input type="text"
                                   id="contentType"
                                   readonly
                                   formControlName="contentType"
                                   class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Description</label>
                            <textarea type="text" rows="4" cols="50"
                                      id="description"
                                      class="form-control"
                                      formControlName="description">
                        </textarea>
                        </div>

                        <div *ngIf="fieldsFormArray.length > 0">
                            <h4>Custom Fields:</h4>

                            <ul formArrayName="fields">
                                <li *ngFor="let field of form.controls.fields['controls']; let i = index" [formGroupName]="i">
                                    <div *ngIf="!fieldUx.get(field).newField">
                                        {{field.value.description}} - {{field.value.type}}
                                        <a *ngIf="!fieldUx.get(field).isMandatory" href="javascript:void(0);" (click)="editField(field)">Edit</a>
                                        <a *ngIf="!fieldUx.get(field).isMandatory" href="javascript:void(0);" (click)="deleteField(i)">Delete</a>
                                    </div>
                                    <kz-field-builder *ngIf="fieldUx.get(field).showFieldBuilder"
                                                      [group]="form.controls.fields['controls'][i]"
                                                      (save)="saveField($event)"
                                                      (cancel)="cancelField($event)"
                                                      (delete)="deleteField($event)">
                                    </kz-field-builder>
                                </li>
                            </ul>

                        </div>

                        <div *ngIf="fieldsFormArray.length === 0">
                            <h3>Add your first field</h3>
                        </div>

                        <button type="button" class="btn btn-primary" (click)="addField()">Add Field</button>

                        <!--<div field-builder="model.newField" field-builder-on-save="model.createField(model.newField)" field-builder-btn-text="Add" ng-show="model.newField.showFieldBuilder"></div>-->
                    </div>


                    <button type="button" class="btn btn-primary" (click)="generateSchema()">Generate Schema</button>

                    <button type="submit" class="ui positive button" [disabled]="form.invalid"
                            kzAsyncButton [asyncInProgress]="saving" [ngClass]="{'labeled': !saving, 'icon': !saving}">
                        Save
                    </button>
                    <button type="button" class="ui negative button" (click)="cancel(form)">Cancel</button>
                </form>
            </div>

            <div class="col-2">
                <textarea id="schema" name="schema" rows="20" cols="60">{{jsonSchemaString}}</textarea>
            </div>
        </div>
    </tab>
</tabset>


