<div [formGroup]="group">
    <h4>Let's build a field!!!</h4>

    Type:
    <select class="ui fluid dropdown" formControlName="type" required>
        <option value="null">Select a field type...</option>
        <option *ngFor="let fieldType of fieldTypes" [ngValue]="fieldType">
            {{fieldType}}
        </option>
    </select>

    Name: <input type="text" formControlName="description">
    Field ID: <input type="text" formControlName="fieldId">

    <button type="button" class="ui negative button" (click)="onDelete(group)">delete</button>
    <button type="button" class="ui button" (click)="onCancel(group)">cancel</button>
    <button type="button" class="ui positive button" (click)="onSave(group)">save</button>

</div>
