<div class="container-fluid">
    <kz-nav-bar></kz-nav-bar>

    <kz-context></kz-context>
    <div class="menu right">
        <div class="ui dropdown item" suiDropdown>
            Profile Things
            <div class="menu" suiDropdownMenu>
                <a class="item" [routerLink]="['/dashboard']">My Dashboard</a>
                <div class="item">Profile</div>
                <div class="item">Account</div>
                <div class="divider"></div>
                <div class="item">Logout</div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>

    <router-outlet></router-outlet>

</div>
