<!--<nz-layout>-->
<!--    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" nzWidth="200px">-->
<!--        <div class="logo"></div>-->
<!--        <kz-nav-bar [collapsedSidenav]="isCollapsed"></kz-nav-bar>-->
<!--    </nz-sider>-->
<!--    <nz-layout>-->
<!--        <nz-header>-->
<!--            <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>-->
<!--            <i class="trigger" nz-icon nzType="logout" nzTheme="outline" (click)="logout()"></i>-->
<!--        </nz-header>-->
<!--        <nz-content>-->
<!--            <div class="inner-content">-->
<!--                <router-outlet></router-outlet>-->
<!--            </div>-->
<!--        </nz-content>-->
<!--        <nz-footer>Â©2020 Omega Creations</nz-footer>-->
<!--    </nz-layout>-->
<!--</nz-layout>-->


<!-- NG-ZORRO -->
<!--<a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank" style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">
  <img height="300" src="https://img.alicdn.com/tfs/TB1X.qJJgHqK1RjSZFgXXa7JXXa-89-131.svg">
</a>-->
