<!--<ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="collapsedSidenav">-->
<!--    <li *ngFor="let navItem of navItems" nz-menu-item>-->
<!--        <a routerLinkActive="active"-->
<!--           [routerLink]="['/' + navItem.destination]">-->
<!--            <ng-container *ngIf="navItem.icon">-->
<!--                <i nz-icon [nzType]="navItem.icon" nzTheme="outline"></i>-->
<!--            </ng-container>-->
<!--            {{navItem.name}}-->
<!--        </a>-->
<!--    </li>-->
<!--</ul>-->
