.login-page {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 100vw;
    height: 100vh;
    height: 100%;
    bottom: 0;
    right: 0;
    z-index: 999;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
