<h1>Login</h1>

<!--<div class="loginButton">-->
    <!--<a href="/api/users/google">-->
        <!--<img id="googleLoginBtnImg" src="/assets/images/googleLoginBtn.png" alt="Sign-In with Google">-->
    <!--</a>-->

    <!--<a href="/api/users/facebook">-->
        <!--<img id="facebookLoginBtnImg" src="/assets/images/fbLoginBtn.png" alt="Sign-In with Facebook">-->
    <!--</a>-->

    <!--<hr>-->
    <!--<div id="or">or</div>-->

    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" novalidate>

        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control"
                   autofocus
                   type="email"
                   id="email"
                   name="email"
                   [(ngModel)]="user.email"
                   size="30"
                   maxlength="100"
                   placeholder="your@email.com">
        </div>

        <div class="form-group">
            <label for="email">Password</label>
            <input class="form-control"
                   type="password"
                   id="password"
                   name="password"
                   [(ngModel)]="user.password"
                   placeholder="********">
        </div>


        <div class="form-row">
            <div class="col">
                <a href="#">forgot?</a>
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>

    </form>
<!--</div>-->
