<form #form="ngForm" (submit)="save(form)" novalidate class="ui form">
    <div class="field">
        <label>Name</label>
        <input type="text"
               pattern="[\D]*"
               name="name"
               [(ngModel)]="organization.name">
    </div>

    <div class="field">
        <label>Code</label>
        <input type="text"
               name="code"
               [(ngModel)]="organization.code">
    </div>

    <div class="field">
        <label>Description</label>
        <textarea type="text" rows="4" cols="50"
                  name="description"
                  [(ngModel)]="organization.description">
            </textarea>
    </div>

    <div class="extra content">
        <button type="submit" class="ui positive button" [disabled]="form.invalid"
                kz-async-button [asyncInProgress]="saving" [asyncType]="'save'" [ngClass]="{'labeled': !saving, 'icon': !saving}">
            <i class="checkmark icon"></i> Save
        </button>
        <button type="button" class="ui negative button" (click)="cancel(form)">Cancel</button>
    </div>
</form>
