<h1>Organizations</h1>

<div class="ui middle aligned relaxed divided selection list">
    <ng-container *ngFor="let organization of organizations">
        <a class="item"  [routerLink]="['/organizations/' + organization.id]">
            <div class="content">
                <div class="header">
                    {{organization.name}}
                </div>
            </div>
        </a>
        <button *ngIf="userContext?.user?.isMetaAdmin" type="button" (click)="selectOrg(organization.id)">Switch To</button>
    </ng-container>

</div>

<button class="ui button" (click)="create()">Add</button>
