<!-- ngx-schema-form is not working with Angular 14 - need to move to ajsf (https://github.com/hamzahamidi/ajsf), or, if we
can wait, just use Tim's custom json-schema renderer, which is coming soon -->
<!--<sf-form [schema]="customSchema.jsonSchema" [model]="initialModel" (onChange)="formChanged($event.value)"></sf-form>-->
<h3>Need to add a new json-schema form renderer here that works with Angular 14, like ajsf - https://github.com/hamzahamidi/ajsf</h3>

<div class="extra content">
    <button type="submit" class="ui positive button" (click)="save()"
            [disabled]="this.validationMessages.length > 0"
            kzAsyncButton [asyncInProgress]="saving" [asyncType]="'save'" [ngClass]="{'labeled': !saving, 'icon': !saving}">
        <i class="checkmark icon"></i> Save
    </button>
    <button type="button" class="ui negative button" (click)="cancel()">Cancel</button>
</div>
