<form #form="ngForm" (submit)="save(form)" novalidate class="ui form content">
    <div>
        <div class="field">
            <label>Name</label>
            <input type="text"
                   pattern="[\D]*"
                   name="name"
                   [(ngModel)]="page.name">
        </div>

        <div class="field">
            <label>Description</label>
            <textarea type="text" rows="4" cols="50"
                      name="description"
                      [(ngModel)]="page.description">
            </textarea>
        </div>

        <div class="field">
            <label>Template</label>
            <textarea type="text" rows="14" cols="200"
                      name="template"
                      [(ngModel)]="page.template">
            </textarea>
        </div>

        <div class="extra content">
            <button type="submit" class="ui positive button" [disabled]="form.invalid"
                    kz-async-button [asyncInProgress]="saving" [asyncType]="'save'" [ngClass]="{'labeled': !saving, 'icon': !saving}">
                <i class="checkmark icon"></i> Save
            </button>
            <button type="button" class="ui negative button" (click)="cancel(form)">Cancel</button>
        </div>

    </div>
</form>
