<div class="d-flex flex-column p-4 text-bg-dark h-100 w-auto">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
<!--        <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>-->
        <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item" *ngFor="let route of routes">
            <a [routerLink]="route.path" [routerLinkActive]="'active'" class="nav-link" aria-current="page">
                <fa-icon class="me-2" *ngIf="route.data.routeIcon" [icon]="route.data.routeIcon"></fa-icon>
                {{route.data.routeLabel | titlecase}}
            </a>
        </li>
    </ul>
    <hr>
<!--    <div class="dropdown">-->
<!--        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">-->
<!--            <strong>mdo</strong>-->
<!--        </a>-->
<!--        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">-->
<!--            <li><a class="dropdown-item" href="#">New project...</a></li>-->
<!--            <li><a class="dropdown-item" href="#">Settings</a></li>-->
<!--            <li><a class="dropdown-item" href="#">Profile</a></li>-->
<!--            <li><hr class="dropdown-divider"></li>-->
<!--            <li><a class="dropdown-item" href="#">Sign out</a></li>-->
<!--        </ul>-->
<!--    </div>-->
</div>
